<ion-header>
  <ion-navbar hideBackButton>

    <ion-title style="background-color: #23c1a0;">
      <img class="title-image3" src="./assets/img/logoFinal.png" />
      <div class="close-pose">
      <button class="button" style="background-color:rgba(0,0,0,0)" ng-click="handleSignOutBtnClick()">
          <img class="close" src="./assets/img/icon-close.png" />
      </button>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="space">
    <br>
    <h2 class="title">{{name}}</h2><br>
  </div>
    <ion-col col-3  style="padding: 0px;">
      <button style="background-color:rgba(0,0,0,0)" (click)="news()">
        <div class="cards" style="width: 95px;">
          <img class="faci2" src="./assets/img/nyheter.png">
          <h6 class="obook"> Nyheter </h6>
        </div>
      </button>
    </ion-col>
  <ion-col col-3  style="padding: 0px;">
    <button style="background-color:rgba(0,0,0,0);" (click)="facilities()">
      <div class="cards" style="width: 95px;">
        <img class="faci2" src="./assets/img/bokning.png">
        <h6 class="obook"> Boka </h6>
      </div>
    </button>
  </ion-col>
  <ion-col col-3  style="padding: 0px;">
    <button style="background-color:rgba(0,0,0,0)" (click)="bookad()">
      <div class="cards" style="width: 95px;">
        <div class="tag2" *ngIf="count"><h6 class="bookcount">{{count}}</h6></div>
        <img class="faci2" src="./assets/img/elforbrukning.png">
        <h6 class="obook"> Bokningar </h6>
      </div>
    </button>
  </ion-col>
  <ion-col col-3  style="padding: 0px;">
    <button style="background-color:rgba(0,0,0,0)" (click)="contact()">
      <div class="cards" style="width: 95px;">
        <img class="faci2" src="./assets/img/information.png">
        <h6 class="obook"> Information </h6>
      </div>
    </button>
  </ion-col>
  <ion-col col-3 style="padding: 0px;">
    <button style="background-color:rgba(0,0,0,0)" (click)="helprequest()">
      <div class="cards" style="width: 95px;">
        <img class="faci2" src="./assets/img/felanmalan.png">
        <h6 class="obook"> Felanmälan </h6>
      </div>
    </button>
  </ion-col>
  <!-- <ion-col col-4>
     <button class="button" style="background-color:rgba(0,0,0,0)"  (click)="contact()">
      <div class="cards" style="width: 105pxpx;">
        <img class="faci2" src="./assets/img/dokument.png">
        <h6 class="obook"> Dokument </h6>
      </div>
    </button>
  </ion-col>  -->

</ion-content>
