<ion-header>
  <ion-navbar hideBackButton>
    <ion-title style="background-color: #23c1a0;">
      <img class="title-image3" src="./assets/img/logoFinal.png" />
      <div class="back">
        <button class="button" style="background-color:rgba(0,0,0,0)"  (click)="go_to_home()">
          <img class="pil" src="./assets/img/triangular-arrow-ar.png" />
        </button>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <h3 class="title">GEMENSAMMA UTRYMMEN</h3><br />
  <ion-col *ngFor="let facility of facilities" >
    <button class="button" style="background-color:rgba(0,0,0,0); margin-bottom: 28px;" (click)="pickers(facility.id)">
      <div class="cards" [ngStyle]="buttonSize(colNr)">
        <div class="tag" *ngIf="facility.count"><h6 class="bookcount">{{facility.count}}</h6></div>
        <i class="material-icons icon-style" [ngStyle]="{'font-size': colNr ? '60px' : '100px'}">{{facility.icon}}</i>
        <h6 class="obook" [ngStyle]="{'font-size': colNr ? '20px' : '40px'}"> {{facility.name}}</h6>
      </div>
    </button>
  </ion-col>
</ion-content>
